body {
    margin: 0;
    overflow: hidden;
}

#drawingCanvas {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
}

#magnifier {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}